body {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-weight: 500px;
  font-size: 75px;
  color: black;
}

h2 {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

h4 {
  text-align: center;
  color: #341b6a;
  font-weight: 900px;
}

#currentTemp {
  position: relative;
  font-size: 55px;
  color: red;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  list-style: none;
}

#geoLocationButton {
  background-color: red;
  border-radius: 10px;
  border-style: none;
}

.container {
  padding: 20px;
  border-radius: 40px;
  max-width: 900px;
  margin: 30px auto;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.search {
  right: 390px;
}
.submit {
  right: 270px;
}

.search,
.submit {
  border-radius: 25px;
  font-size: 18px;
  color: white;
  padding: 5px 25px;
  border: 2px;
  background: lightsteelblue;
  opacity: 40%;
  position: absolute;
}

.high,
.low,
.high-low-break {
  color: navy;
  opacity: 50%;
  font-size: 30px;
  font-weight: bolder;
}

.main {
  display: block;
  text-align: center;
  left: 0px;
  position: relative;
  margin: 0 0 0 -400px;
  top: 70px;
}

.card1,
.card2 {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  position: relative;
  right: -475px;
  top: -170px;
  text-align: center;
  border-radius: 20px;
}

.gitLink {
  text-align: center;
}
.units,
.active,
.not-active {
  color: rgb(255, 115, 0);
  font-size: smaller;
  font-weight: lighter;
  cursor: default;
  text-decoration: none;
}
.forecast {
  padding: 0 auto;
  display: block;
}

.col {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.weather-forecast-temperature-min {
  color: navy;
  opacity: 50%;
}
.forecast-block {
  margin-top: 0;
  padding: 0px;
}
#description {
  text-transform: capitalize;
}
#H,
#L {
  font-size: 25px;
}
