body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 500px;
  font-size: 75px;
  color: black;
}

h2 {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

h4 {
  text-align: center;
  color: black;
  font-weight: 900px;
}

#currentTemp {
  position: relative;
  font-size: 55px;
  color: #e97453;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  list-style: none;
}

#geoLocationButton {
  background-color: white;
  border-radius: 15px;
  border-style: none;
  color: blue;
  font-size: larger;
}

.container {
  padding: 20px;
  border-radius: 40px;
  max-width: 900px;
  margin: 30px auto;
  background: linear-gradient(
    to top,
    rgb(197, 235, 171) 52.5%,
    rgb(113, 202, 128) 100.2%
  );
}

.search {
  right: 390px;
}
.submit {
  right: 270px;
}

.search,
.submit {
  border-radius: 25px;
  font-size: 18px;
  color: darkgray;
  padding: 5px 25px;
  border: 2px;
  background: white;
  opacity: 40%;
  position: absolute;
}

.high,
.low,
.high-low-break {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  opacity: 50%;
}

#H,
#L {
  font-size: 30px;
  color: black;
  opacity: 65%;
}

.main {
  display: block;
  text-align: center;
  left: 0px;
  position: relative;
  margin: 0 0 0 -400px;
  top: 70px;
}

.card1,
.card2 {
  font-weight: lighter;
  position: relative;
  right: -475px;
  top: -170px;
  text-align: center;
  border-radius: 20px;
  color: black;
  opacity: 80%;
}

.forecast {
  font-weight: lighter;
  padding: 0 auto;
  display: block;
}

.col {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.weather-forecast-temperature-min {
  color: #ec6e4c;
  opacity: 70%;
}
.forecast-block {
  font-weight: lighter;
  margin-top: 0px;
  padding: 0px;
}
#description {
  text-transform: capitalize;
}
.gitLink {
  text-decoration: none;
  color: black;
  opacity: 70%;
}
.gitLink:hover {
  color: #8fd28b;
  transition: all 200ms ease-in-out;
}
